.detail-btn {
	float: right;
	width: 150px;
	height: 40px;
	margin-left: 30px;
	color: #fff;
	font-size: 18px;

	&.purchase-btn {
		background-color: #ff6700;
	}

	&.add-to-cart-btn {
		background-color: #f20;
	}
}