.cart-bar {
	width: 100%;
	height: 40px;
	margin-top: 50px;
	line-height: 40px;

	.total-price {
		float: right;
		font-size: 25px;
		color: #f20;
		font-weight: bold;
	}

	.total-purchase-btn {
		float: right;
		width: 150px;
		height: 40px;
		margin-left: 30px;
		background-color: #ff6700;
		color: #fff;
		font-size: 20px;
	}
}