.logo {
	float: left;
	position: relative;
	width: 55px;
	height: 55px;
	margin-top: 22px;
	background-color: #ff6700;
	overflow: hidden;

	.logo-lk {
		display: block;
		position: absolute;
		top: 0;
		left: -55px;
		width: 110px;
		height: 55px;
		transition: left .3s;

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 0;
			display: block;
			width: 55px;
			height: 55px;
		}

		&::before {
			left: 0;
			background: url(images/logo_2.png) center center;
		}

		&::after {
			left: 55px;
			background: url(images/logo_1.png) center center;
		}

		&:hover {
			left: 0;
		}
	}
}